<%- include('partials/header.ejs') -%>

<br>
<p>
  <h1>Compose</h1>
  <br>
  <form class="" action="/compose" method="post">
    <div class="input-group input-group-sm mb-3">
  <span class="input-group-text" id="inputGroup-sizing-sm">Title</span>
  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="Title" autocomplete="off">
</div>
<div class="input-group input-group-lg">
  <span class="input-group-text" id="inputGroup-sizing-lg">Large</span>
  <input type="textarea" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" name="ComposedString" autocomplete="off">
</div>
      <br>
       <button class = "btn btn-primary" type="submit" name="Submit">Publish</button>
  </form>

</p>
<%-include('partials/footer.ejs') -%>
