<%- include('partials/header.ejs')-%>
<h1>Home</h1>
<br>
 <% for (x in contents){ %>
   <h1><%= contents[x].title %></h1>
   <p><%= contents[x].body%></p>
<% } %>

<%- include ('partials/footer.ejs')-%>
